platform/wp7/IsolatedStorageExplorerClient/Service References/ClientStreamingService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClientStreamingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetNamedPipeBinding_IClientStreamingService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClientStreamingService_BeginUploadStream_InputMessage">
    <wsdl:part name="parameters" element="tns:BeginUploadStream" />
  </wsdl:message>
  <wsdl:message name="IClientStreamingService_BeginUploadStream_OutputMessage">
    <wsdl:part name="parameters" element="tns:BeginUploadStreamResponse" />
  </wsdl:message>
  <wsdl:message name="IClientStreamingService_BeginDownloadStream_InputMessage">
    <wsdl:part name="parameters" element="tns:BeginDownloadStream" />
  </wsdl:message>
  <wsdl:message name="IClientStreamingService_BeginDownloadStream_OutputMessage">
    <wsdl:part name="parameters" element="tns:BeginDownloadStreamResponse" />
  </wsdl:message>
  <wsdl:message name="IClientStreamingService_EndStream_InputMessage">
    <wsdl:part name="parameters" element="tns:EndStream" />
  </wsdl:message>
  <wsdl:message name="IClientStreamingService_EndStream_OutputMessage">
    <wsdl:part name="parameters" element="tns:EndStreamResponse" />
  </wsdl:message>
  <wsdl:message name="IClientStreamingService_GetNextChunk_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GetNextChunk" />
  </wsdl:message>
  <wsdl:message name="IClientStreamingService_GetNextChunk_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GetNextChunkResponse" />
  </wsdl:message>
  <wsdl:message name="IClientStreamingService_DownloadStreamChunkAvailable_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:DownloadStreamChunkAvailable" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IClientStreamingService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="BeginUploadStream">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientStreamingService/BeginUploadStream" message="tns:IClientStreamingService_BeginUploadStream_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientStreamingService/BeginUploadStreamResponse" message="tns:IClientStreamingService_BeginUploadStream_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="BeginDownloadStream">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientStreamingService/BeginDownloadStream" message="tns:IClientStreamingService_BeginDownloadStream_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientStreamingService/BeginDownloadStreamResponse" message="tns:IClientStreamingService_BeginDownloadStream_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="true" name="EndStream">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientStreamingService/EndStream" message="tns:IClientStreamingService_EndStream_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientStreamingService/EndStreamResponse" message="tns:IClientStreamingService_EndStream_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetNextChunk">
      <wsdl:output wsaw:Action="http://tempuri.org/IClientStreamingService/GetNextChunk" message="tns:IClientStreamingService_GetNextChunk_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IClientStreamingService/GetNextChunkResponse" message="tns:IClientStreamingService_GetNextChunk_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="DownloadStreamChunkAvailable">
      <wsdl:output wsaw:Action="http://tempuri.org/IClientStreamingService/DownloadStreamChunkAvailable" message="tns:IClientStreamingService_DownloadStreamChunkAvailable_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetNamedPipeBinding_IClientStreamingService" type="tns:IClientStreamingService">
    <wsp:PolicyReference URI="#NetNamedPipeBinding_IClientStreamingService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/named-pipe" />
    <wsdl:operation name="BeginUploadStream">
      <soap12:operation soapAction="http://tempuri.org/IClientStreamingService/BeginUploadStream" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BeginDownloadStream">
      <soap12:operation soapAction="http://tempuri.org/IClientStreamingService/BeginDownloadStream" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EndStream">
      <soap12:operation soapAction="http://tempuri.org/IClientStreamingService/EndStream" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNextChunk">
      <soap12:operation soapAction="http://tempuri.org/IClientStreamingService/GetNextChunk" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadStreamChunkAvailable">
      <soap12:operation soapAction="http://tempuri.org/IClientStreamingService/DownloadStreamChunkAvailable" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClientStreamingService">
    <wsdl:port name="NetNamedPipeBinding_IClientStreamingService" binding="tns:NetNamedPipeBinding_IClientStreamingService">
      <soap12:address location="net.pipe://localhost/ExplorerService/ClientStreamingService/ClientStreamingService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://localhost/ExplorerService/ClientStreamingService/ClientStreamingService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>