platform/wp7/IsolatedStorageExplorer/Service References/ApplicationStreamingService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ApplicationStreamingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CustomBinding_IApplicationStreamingService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IApplicationStreamingService_UploadStreamChunk_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadStreamChunk" />
  </wsdl:message>
  <wsdl:message name="IApplicationStreamingService_UploadStreamChunk_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadStreamChunkResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationStreamingService_GetNextStreamChunk_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNextStreamChunk" />
  </wsdl:message>
  <wsdl:message name="IApplicationStreamingService_GetNextStreamChunk_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNextStreamChunkResponse" />
  </wsdl:message>
  <wsdl:portType name="IApplicationStreamingService">
    <wsdl:operation name="UploadStreamChunk">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationStreamingService/UploadStreamChunk" message="tns:IApplicationStreamingService_UploadStreamChunk_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationStreamingService/UploadStreamChunkResponse" message="tns:IApplicationStreamingService_UploadStreamChunk_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNextStreamChunk">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationStreamingService/GetNextStreamChunk" message="tns:IApplicationStreamingService_GetNextStreamChunk_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationStreamingService/GetNextStreamChunkResponse" message="tns:IApplicationStreamingService_GetNextStreamChunk_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomBinding_IApplicationStreamingService" type="tns:IApplicationStreamingService">
    <wsp:PolicyReference URI="#CustomBinding_IApplicationStreamingService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadStreamChunk">
      <soap12:operation soapAction="http://tempuri.org/IApplicationStreamingService/UploadStreamChunk" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNextStreamChunk">
      <soap12:operation soapAction="http://tempuri.org/IApplicationStreamingService/GetNextStreamChunk" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ApplicationStreamingService">
    <wsdl:port name="CustomBinding_IApplicationStreamingService" binding="tns:CustomBinding_IApplicationStreamingService">
      <soap12:address location="http://localhost:2502/ApplicationStreamingService/ApplicationStreamingService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:2502/ApplicationStreamingService/ApplicationStreamingService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>