platform/wp7/IsolatedStorageExplorer/Service References/ApplicationOperationsService/ExplorerService.Common.DataContracts.Operations.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/ExplorerService.Common.DataContracts.Operations" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ExplorerService.Common.DataContracts.Operations" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Operation">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationSessionId" type="ser:guid" />
      <xs:element minOccurs="0" name="ClientSessionId" type="ser:guid" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="OperationsToExecute" nillable="true" type="tns:ArrayOfRequestBase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Operation" nillable="true" type="tns:Operation" />
  <xs:complexType name="ArrayOfRequestBase">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RequestBase" nillable="true" type="tns:RequestBase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRequestBase" nillable="true" type="tns:ArrayOfRequestBase" />
  <xs:complexType name="RequestBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestBase" nillable="true" type="tns:RequestBase" />
  <xs:complexType name="DeleteFileRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="FilePath" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DeleteFileRequest" nillable="true" type="tns:DeleteFileRequest" />
</xs:schema>