platform/wp7/IsolatedStorageExplorer/Service References/ApplicationOperationsService/ExplorerService.Common.DataContracts.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ExplorerService.Common.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ExplorerService.Common.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="IsolatedStorageInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="AvailableSpace" type="xs:long" />
      <xs:element minOccurs="0" name="Directories" nillable="true" type="tns:ArrayOfDirectoryInformation" />
      <xs:element minOccurs="0" name="Files" nillable="true" type="tns:ArrayOfFileInformation" />
      <xs:element minOccurs="0" name="Quota" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IsolatedStorageInformation" nillable="true" type="tns:IsolatedStorageInformation" />
  <xs:complexType name="ArrayOfDirectoryInformation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DirectoryInformation" nillable="true" type="tns:DirectoryInformation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDirectoryInformation" nillable="true" type="tns:ArrayOfDirectoryInformation" />
  <xs:complexType name="DirectoryInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Directories" nillable="true" type="tns:ArrayOfDirectoryInformation" />
      <xs:element minOccurs="0" name="Files" nillable="true" type="tns:ArrayOfFileInformation" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DirectoryInformation" nillable="true" type="tns:DirectoryInformation" />
  <xs:complexType name="ArrayOfFileInformation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FileInformation" nillable="true" type="tns:FileInformation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFileInformation" nillable="true" type="tns:ArrayOfFileInformation" />
  <xs:complexType name="FileInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Extension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileInformation" nillable="true" type="tns:FileInformation" />
</xs:schema>