platform/wp7/IsolatedStorageExplorer/Service References/ApplicationOperationsService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ExplorerService.Common.DataContracts.Operations" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ExplorerService.Common.DataContracts.Operations.OperationProgress" />
  <xs:element name="GetNextOperation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="applicationSessionId" type="q1:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextOperationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ExplorerService.Common.DataContracts.Operations" minOccurs="0" name="GetNextOperationResult" nillable="true" type="q2:Operation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostOperationProgress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="applicationSessionId" type="q3:guid" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ExplorerService.Common.DataContracts.Operations.OperationProgress" minOccurs="0" name="operationProgress" nillable="true" type="q4:OperationProgress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostOperationProgressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PostOperationProgressResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelPending">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="applicationSessionId" type="q5:guid" />
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="operationId" type="q6:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelPendingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CancelPendingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>