platform/wp7/IsolatedStorageExplorer/Service References/ApplicationOperationsService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ApplicationOperationsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CustomBinding_IApplicationOperationsService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ExplorerService.Common.DataContracts.Operations" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ExplorerService.Common.DataContracts.Operations.Requests" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ExplorerService.Common.DataContracts.Operations.OperationProgress" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ExplorerService.Common.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IApplicationOperationsService_GetNextOperation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNextOperation" />
  </wsdl:message>
  <wsdl:message name="IApplicationOperationsService_GetNextOperation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNextOperationResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationOperationsService_PostOperationProgress_InputMessage">
    <wsdl:part name="parameters" element="tns:PostOperationProgress" />
  </wsdl:message>
  <wsdl:message name="IApplicationOperationsService_PostOperationProgress_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostOperationProgressResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationOperationsService_CancelPending_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelPending" />
  </wsdl:message>
  <wsdl:message name="IApplicationOperationsService_CancelPending_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelPendingResponse" />
  </wsdl:message>
  <wsdl:portType name="IApplicationOperationsService">
    <wsdl:operation name="GetNextOperation">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationOperationsService/GetNextOperation" message="tns:IApplicationOperationsService_GetNextOperation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationOperationsService/GetNextOperationResponse" message="tns:IApplicationOperationsService_GetNextOperation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostOperationProgress">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationOperationsService/PostOperationProgress" message="tns:IApplicationOperationsService_PostOperationProgress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationOperationsService/PostOperationProgressResponse" message="tns:IApplicationOperationsService_PostOperationProgress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelPending">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationOperationsService/CancelPending" message="tns:IApplicationOperationsService_CancelPending_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationOperationsService/CancelPendingResponse" message="tns:IApplicationOperationsService_CancelPending_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomBinding_IApplicationOperationsService" type="tns:IApplicationOperationsService">
    <wsp:PolicyReference URI="#CustomBinding_IApplicationOperationsService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetNextOperation">
      <soap12:operation soapAction="http://tempuri.org/IApplicationOperationsService/GetNextOperation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostOperationProgress">
      <soap12:operation soapAction="http://tempuri.org/IApplicationOperationsService/PostOperationProgress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelPending">
      <soap12:operation soapAction="http://tempuri.org/IApplicationOperationsService/CancelPending" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ApplicationOperationsService">
    <wsdl:port name="CustomBinding_IApplicationOperationsService" binding="tns:CustomBinding_IApplicationOperationsService">
      <soap12:address location="http://localhost:2502/ApplicationOperationsService/ApplicationOperationsService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:2502/ApplicationOperationsService/ApplicationOperationsService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>