platform/wp7/IsolatedStorageExplorerClient/Service References/ClientSessionService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClientSessionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetNamedPipeBinding_IClientSessionService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClientSessionService_GetSessionToken_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSessionToken" />
  </wsdl:message>
  <wsdl:message name="IClientSessionService_GetSessionToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSessionTokenResponse" />
  </wsdl:message>
  <wsdl:message name="IClientSessionService_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="IClientSessionService_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="IClientSessionService_EndSession_InputMessage">
    <wsdl:part name="parameters" element="tns:EndSession" />
  </wsdl:message>
  <wsdl:message name="IClientSessionService_EndSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:EndSessionResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IClientSessionService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetSessionToken">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientSessionService/GetSessionToken" message="tns:IClientSessionService_GetSessionToken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientSessionService/GetSessionTokenResponse" message="tns:IClientSessionService_GetSessionToken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="Ping">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientSessionService/Ping" message="tns:IClientSessionService_Ping_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientSessionService/PingResponse" message="tns:IClientSessionService_Ping_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="true" name="EndSession">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientSessionService/EndSession" message="tns:IClientSessionService_EndSession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientSessionService/EndSessionResponse" message="tns:IClientSessionService_EndSession_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetNamedPipeBinding_IClientSessionService" type="tns:IClientSessionService">
    <wsp:PolicyReference URI="#NetNamedPipeBinding_IClientSessionService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/named-pipe" />
    <wsdl:operation name="GetSessionToken">
      <soap12:operation soapAction="http://tempuri.org/IClientSessionService/GetSessionToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="http://tempuri.org/IClientSessionService/Ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EndSession">
      <soap12:operation soapAction="http://tempuri.org/IClientSessionService/EndSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClientSessionService">
    <wsdl:port name="NetNamedPipeBinding_IClientSessionService" binding="tns:NetNamedPipeBinding_IClientSessionService">
      <soap12:address location="net.pipe://localhost/ExplorerService/ClientSessionService/ExplorerClientsMonitorService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://localhost/ExplorerService/ClientSessionService/ExplorerClientsMonitorService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>