platform/wp7/IsolatedStorageExplorerClient/Service References/ClientOperationService/ExplorerService.Common.DataContracts.Operations.Requests.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/ExplorerService.Common.DataContracts.Operations.Requests" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ExplorerService.Common.DataContracts.Operations.Requests" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ExplorerService.Common.DataContracts.Operations" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="DeleteDirectoryRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/ExplorerService.Common.DataContracts.Operations" base="q1:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="DirectoryPath" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DeleteDirectoryRequest" nillable="true" type="tns:DeleteDirectoryRequest" />
  <xs:complexType name="UploadFileRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/ExplorerService.Common.DataContracts.Operations" base="q2:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="FilePath" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UploadStreamId" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UploadFileRequest" nillable="true" type="tns:UploadFileRequest" />
  <xs:complexType name="DownloadFileRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/ExplorerService.Common.DataContracts.Operations" base="q3:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="DownloadStreamId" type="ser:guid" />
          <xs:element minOccurs="0" name="FilePath" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DownloadFileRequest" nillable="true" type="tns:DownloadFileRequest" />
  <xs:complexType name="CreateDirectoryRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/ExplorerService.Common.DataContracts.Operations" base="q4:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="DirectoryPath" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CreateDirectoryRequest" nillable="true" type="tns:CreateDirectoryRequest" />
</xs:schema>