platform/wp7/IsolatedStorageExplorerClient/Service References/ClientOperationService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ExplorerService.Common.DataContracts.Operations" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ExplorerService.Common.DataContracts.Operations.OperationProgress" />
  <xs:element name="StartOperationSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sessionId" type="q1:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartOperationSessionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelOperation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="operationId" type="q2:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelOperationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PostOperation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ExplorerService.Common.DataContracts.Operations" minOccurs="0" name="operation" nillable="true" type="q3:Operation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostOperationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PostOperationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndOperationSession">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EndOperationSessionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OperationProgress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="applicationSessionId" type="q4:guid" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ExplorerService.Common.DataContracts.Operations.OperationProgress" minOccurs="0" name="progress" nillable="true" type="q5:OperationProgress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>