platform/wp7/IsolatedStorageExplorerClient/Service References/ApplicationMonitorService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ApplicationMonitorService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetNamedPipeBinding_IApplicationMonitorService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ExplorerService.Common.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IApplicationMonitorService_StartMonitor_InputMessage">
    <wsdl:part name="parameters" element="tns:StartMonitor" />
  </wsdl:message>
  <wsdl:message name="IApplicationMonitorService_StartMonitor_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartMonitorResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationMonitorService_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="IApplicationMonitorService_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationMonitorService_EndMonitor_InputMessage">
    <wsdl:part name="parameters" element="tns:EndMonitor" />
  </wsdl:message>
  <wsdl:message name="IApplicationMonitorService_EndMonitor_OutputMessage">
    <wsdl:part name="parameters" element="tns:EndMonitorResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationMonitorService_SessionStarted_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SessionStarted" />
  </wsdl:message>
  <wsdl:message name="IApplicationMonitorService_SessionLocked_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SessionLocked" />
  </wsdl:message>
  <wsdl:message name="IApplicationMonitorService_SessionUnlocked_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SessionUnlocked" />
  </wsdl:message>
  <wsdl:message name="IApplicationMonitorService_SessionEnded_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SessionEnded" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IApplicationMonitorService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="StartMonitor">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationMonitorService/StartMonitor" message="tns:IApplicationMonitorService_StartMonitor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationMonitorService/StartMonitorResponse" message="tns:IApplicationMonitorService_StartMonitor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="Ping">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationMonitorService/Ping" message="tns:IApplicationMonitorService_Ping_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationMonitorService/PingResponse" message="tns:IApplicationMonitorService_Ping_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="true" name="EndMonitor">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationMonitorService/EndMonitor" message="tns:IApplicationMonitorService_EndMonitor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationMonitorService/EndMonitorResponse" message="tns:IApplicationMonitorService_EndMonitor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SessionStarted">
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationMonitorService/SessionStarted" message="tns:IApplicationMonitorService_SessionStarted_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SessionLocked">
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationMonitorService/SessionLocked" message="tns:IApplicationMonitorService_SessionLocked_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SessionUnlocked">
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationMonitorService/SessionUnlocked" message="tns:IApplicationMonitorService_SessionUnlocked_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SessionEnded">
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationMonitorService/SessionEnded" message="tns:IApplicationMonitorService_SessionEnded_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetNamedPipeBinding_IApplicationMonitorService" type="tns:IApplicationMonitorService">
    <wsp:PolicyReference URI="#NetNamedPipeBinding_IApplicationMonitorService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/named-pipe" />
    <wsdl:operation name="StartMonitor">
      <soap12:operation soapAction="http://tempuri.org/IApplicationMonitorService/StartMonitor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="http://tempuri.org/IApplicationMonitorService/Ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EndMonitor">
      <soap12:operation soapAction="http://tempuri.org/IApplicationMonitorService/EndMonitor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SessionStarted">
      <soap12:operation soapAction="http://tempuri.org/IApplicationMonitorService/SessionStarted" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SessionLocked">
      <soap12:operation soapAction="http://tempuri.org/IApplicationMonitorService/SessionLocked" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SessionUnlocked">
      <soap12:operation soapAction="http://tempuri.org/IApplicationMonitorService/SessionUnlocked" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SessionEnded">
      <soap12:operation soapAction="http://tempuri.org/IApplicationMonitorService/SessionEnded" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ApplicationMonitorService">
    <wsdl:port name="NetNamedPipeBinding_IApplicationMonitorService" binding="tns:NetNamedPipeBinding_IApplicationMonitorService">
      <soap12:address location="net.pipe://localhost/ExplorerService/ApplicationMonitorService/ApplicationMonitorService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://localhost/ExplorerService/ApplicationMonitorService/ApplicationMonitorService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>