platform/wp7/IsolatedStorageExplorer/Service References/ApplicationSessionService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ApplicationSessionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CustomBinding_IApplicationSessionService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ExplorerService.Common.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IApplicationSessionService_GetApplicationSessionId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicationSessionId" />
  </wsdl:message>
  <wsdl:message name="IApplicationSessionService_GetApplicationSessionId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicationSessionIdResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationSessionService_Hearbeat_InputMessage">
    <wsdl:part name="parameters" element="tns:Hearbeat" />
  </wsdl:message>
  <wsdl:message name="IApplicationSessionService_Hearbeat_OutputMessage">
    <wsdl:part name="parameters" element="tns:HearbeatResponse" />
  </wsdl:message>
  <wsdl:portType name="IApplicationSessionService">
    <wsdl:operation name="GetApplicationSessionId">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationSessionService/GetApplicationSessionId" message="tns:IApplicationSessionService_GetApplicationSessionId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationSessionService/GetApplicationSessionIdResponse" message="tns:IApplicationSessionService_GetApplicationSessionId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Hearbeat">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationSessionService/Hearbeat" message="tns:IApplicationSessionService_Hearbeat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationSessionService/HearbeatResponse" message="tns:IApplicationSessionService_Hearbeat_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomBinding_IApplicationSessionService" type="tns:IApplicationSessionService">
    <wsp:PolicyReference URI="#CustomBinding_IApplicationSessionService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetApplicationSessionId">
      <soap12:operation soapAction="http://tempuri.org/IApplicationSessionService/GetApplicationSessionId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Hearbeat">
      <soap12:operation soapAction="http://tempuri.org/IApplicationSessionService/Hearbeat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ApplicationSessionService">
    <wsdl:port name="CustomBinding_IApplicationSessionService" binding="tns:CustomBinding_IApplicationSessionService">
      <soap12:address location="http://localhost:2502/ApplicationSessionService/ApplicationSessionService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:2502/ApplicationSessionService/ApplicationSessionService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>